/* adv search */


.EXLResultsContainer {
    /* margin-top: 171px; */
}

#exlidFacetTile {
    /* the left column that contains facets */
    /* margin-top: -375px; */
    margin-top: 0;
}

#resultsTileNoId {
    /* the main/right column that contains search results */
    /* margin-top: -375px; */
    margin-top: 0;
}

.EXLSearchTabsContainer.tab-row {
    margin-top: -45px;
}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbon {
    margin-top: 30px;
    background-color: #FFF;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;    
    border-color: #ccc;
    border-top: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    min-width: 933px;
    min-width: 1024px;
}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormFieldsGroup1 {
    width: 47em;
}

#exlidAdvancedSearchRibbon {
    margin-top: -11px;
    /* margin-top: -175px; */
    width: 100%
}

#exlidHeaderTile {
    margin-top: 0;
    height: auto;
    padding-bottom: 0px;
    z-index: -1000;
    margin-top: 155px;
    /* margin-bottom: 400px; */
}

#exlidAdvancedSearchTile {
    background-color: transparent;
    background: blue
    width: 90%;
    border: 0;
}

#exlidAdvancedSearchRibbon #goButton {
    /*
    width: 112px !important;
    -webkit-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-left-radius: 8px;  

    -webkit-border-radius-bottomright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-bottom-right-radius: 8px;  

    background: #003f87;
    background-image: url(//library.wwu.edu/images/onesearch.logo-v5-button.png) !important;
    background-repeat: no-repeat;
    background-position: center;

    color: #FFF;
    cursor: pointer;
    font-weight: bold;
    margin: 0;
    border: 0px !important;
    content: "";
    border:0;
    height: 34px;
    */

    -webkit-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-left-radius: 8px;  

    -webkit-border-radius-bottomright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-bottom-right-radius: 8px;  
    background: url(//library.wwu.edu/images/adv-search-button.png) no-repeat !important; 
    box-shadow: 0px 3px 3px #CCC;
    background-repeat: none;
    border-left: 1px solid #DCDCDC;
    border-right: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
    cursor: pointer;
    width: 51px !important;
    height: 40px !important;
    z-index: 0;
    padding-top:0;
    padding-bottom: 5px;
    content: "";
}

#exlidAdvancedSearchRibbon input {
    width: 31%;
}

#exlidAdvancedSearchRibbon input.submit {
    height: 34px;
}

#exlidClearSelectedFieldsAdvancedSearch {
    width: 50px !important;
    -webkit-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-left-radius: 8px;  

    -webkit-border-radius-bottomright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-bottom-right-radius: 8px;  
    color: #FFF;
    cursor: pointer;
    font-weight: bold;
    margin: 0;
    border: 0px !important;
    content: "";
    background-image: none !important;
    background: transparent;
}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormClearSearch input {
    background: #fff;
    background: url("//library.wwu.edu/images/clear-search.png") no-repeat  50% 50% !important;
    width: 48px !important;
    height: 40px;
    box-shadow: 0px 3px 3px #CCC;
    background-repeat: none;
    border-left: 1px solid #DCDCDC;
    border-right: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormSubmitSearch {
    border: 0;
}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormLinks {
    -webkit-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-left-radius: 8px;  
    -webkit-border-radius-bottomright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-bottom-right-radius: 8px;  
    /* background: url(//library.wwu.edu/images/onesearch-magnifying-glass.png) no-repeat !important; */
    box-shadow: 0px 3px 3px #CCC;
    background-repeat: none;
    border-left: 1px solid #DCDCDC;
    border-right: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
    cursor: pointer;
    width: 157px !important;
    height: 38px !important;
    z-index: 0;
    padding-top:0;
    content: "";
}


#footerEXL {
    display:none;
    position: fixed;
    bottom: 0;
    font-size: 50%;
}

.EXLFooterTile {
    min-height: auto;
}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormFieldsGroup2 {
    border-left: 0;
    margin-top: 10px;
}

#exlidHeaderContainer {
    margin-top: -128px;    /* 02dec2014 */
}

#exlidSearchTileWrapper {
    /* margin-top: 175px; 05dec */
    margin-top: 0;
    height: auto;
    min-width: 950px;
}

#resultsListNoId {
   /* padding-top: 131px; */
}

.EXLResultsList table {
    /* margin-top: -125px; */
}

#exlidHeaderTile.displayAdvanced {
    margin-top: 0 !important;
    margin-bottom: -87px;
}

.myaccountmenu-advanced {
    margin-top: 54px !important;
    height: 529px !important;    
}

.EXLMyAccountTabsRibbon div {
    /* margin-top: 270px; */
    margin-top: 5px; 
}

#exlidHeaderSystemFeedback {
    /* margin-top: 381px; */
    z-index: 90;
}

#exlidHeaderSystemFeedbackContent strong {
    right: 10px;   
    top: inherit;
}